[submodule "external/github.com/google/googletest"]
	path = external/github.com/google/googletest
	url = ../../google/googletest.git
[submodule "external/github.com/pybind/pybind11"]
	path = external/github.com/pybind/pybind11
	url = https://github.com/pybind/pybind11.git
